# 1-Data Engineering

In [3]:
# import dependencies
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt

In [4]:
# Csv data to dataframes
stations = "Resources/hawaii_stations.csv"
weather = "Resources/hawaii_measurements.csv"
stations_df = pd.read_csv(stations)
weather_df = pd.read_csv(weather)

In [5]:
# check data
stations_df.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [6]:
#display data
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [7]:
# check if missing data
weather_df.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [8]:
# check properties
weather_df.describe()

               prcp          tobs
count  18103.000000  19550.000000
mean       0.160644     73.097954
std        0.468746      4.523527
min        0.000000     53.000000
25%        0.000000     70.000000
50%        0.010000     73.000000
75%        0.110000     76.000000
max       11.530000     87.000000

In [9]:
#display data - NaN data exist
weather_df.head(10)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73
5  USC00519397  2010-01-07  0.06    70
6  USC00519397  2010-01-08  0.00    64
7  USC00519397  2010-01-09  0.00    68
8  USC00519397  2010-01-10  0.00    73
9  USC00519397  2010-01-11  0.01    64

In [10]:
nan_data = weather_df
nan_data['NaN Count']=nan_data['prcp'].isnull()
nan_data

           station        date  prcp  tobs  NaN Count
0      USC00519397  2010-01-01  0.08    65      False
1      USC00519397  2010-01-02  0.00    63      False
2      USC00519397  2010-01-03  0.00    74      False
3      USC00519397  2010-01-04  0.00    76      False
4      USC00519397  2010-01-06   NaN    73       True
5      USC00519397  2010-01-07  0.06    70      False
6      USC00519397  2010-01-08  0.00    64      False
7      USC00519397  2010-01-09  0.00    68      False
8      USC00519397  2010-01-10  0.00    73      False
9      USC00519397  2010-01-11  0.01    64      False
10     USC00519397  2010-01-12  0.00    61      False
11     USC00519397  2010-01-14  0.00    66      False
12     USC00519397  2010-01-15  0.00    65      False
13     USC00519397  2010-01-16  0.00    68      False
14     USC00519397  2010-01-17  0.00    64      False
15     USC00519397  2010-01-18  0.00    72      False
16     USC00519397  2010-01-19  0.00    66      False
17     USC00519397  2010-01-20  0.00    66      False
18     USC00519397  2010-01-21  0.00    69      False
19     USC00519397  2010-01-22  0.00    67      False
20     USC00519397  2010-01-23  0.00    67      False
21     USC00519397  2010-01-24  0.01    71      False
22     USC00519397  2010-01-25  0.00    67      False
23     USC00519397  2010-01-26  0.04    76      False
24     USC00519397  2010-01-27  0.12    68      False
25     USC00519397  2010-01-28  0.00    72      False
26     USC00519397  2010-01-30   NaN    70       True
27     USC00519397  2010-01-31  0.03    67      False
28     USC00519397  2010-02-01  0.01    66      False
29     USC00519397  2010-02-03   NaN    67       True
...            ...         ...   ...   ...        ...
19520  USC00516128  2017-07-24  0.84    77      False
19521  USC00516128  2017-07-25  0.30    79      False
19522  USC00516128  2017-07-26  0.30    73      False
19523  USC00516128  2017-07-27  0.00    75      False
19524  USC00516128  2017-07-28  0.40    73      False
19525  USC00516128  2017-07-29  0.30    77      False
19526  USC00516128  2017-07-30  0.30    79      False
19527  USC00516128  2017-07-31  0.00    74      False
19528  USC00516128  2017-08-01   NaN    72       True
19529  USC00516128  2017-08-02  0.25    80      False
19530  USC00516128  2017-08-03  0.06    76      False
19531  USC00516128  2017-08-05   NaN    77       True
19532  USC00516128  2017-08-06   NaN    79       True
19533  USC00516128  2017-08-07  0.05    78      False
19534  USC00516128  2017-08-08  0.34    74      False
19535  USC00516128  2017-08-09  0.15    71      False
19536  USC00516128  2017-08-10  0.07    75      False
19537  USC00516128  2017-08-11   NaN    72       True
19538  USC00516128  2017-08-12  0.14    74      False
19539  USC00516128  2017-08-13   NaN    80       True
19540  USC00516128  2017-08-14  0.22    79      False
19541  USC00516128  2017-08-15  0.42    70      False
19542  USC00516128  2017-08-16  0.42    71      False
19543  USC00516128  2017-08-17  0.13    72      False
19544  USC00516128  2017-08-18   NaN    76       True
19545  USC00516128  2017-08-19  0.09    71      False
19546  USC00516128  2017-08-20   NaN    78       True
19547  USC00516128  2017-08-21  0.56    76      False
19548  USC00516128  2017-08-22  0.50    76      False
19549  USC00516128  2017-08-23  0.45    76      False

[19550 rows x 5 columns]

In [11]:
# sum the Nan Values to figure how many lines will drop
sum(pd.isnull(nan_data['prcp']))

1447

In [12]:
# Group by Station
group_station = stations_df.groupby("station")
group_station

In [13]:
# Use pivot table to look at the average monthly data -  https://pandas.pydata.org/pandas-docs/stable/generated/pandas.pivot_table.html
nan_data = pd.pivot_table(nan_data,index=['station'], values=['prcp','tobs'])
nan_data

                 prcp       tobs
station
USC00511918  0.047971  71.615968
USC00513117  0.141921  72.689184
USC00514830  0.121058  74.873297
USC00516128  0.429988  70.915008
USC00517948  0.063602  74.684402
USC00518838  0.207222  72.724070
USC00519281  0.212352  71.663781
USC00519397  0.049020  74.553231
USC00519523  0.114961  74.543649

In [14]:
clean_stations_df=pd.DataFrame(stations_df)
clean_weather_df=pd.DataFrame(weather_df)

# drop NaN values
clean_weather_df.drop('NaN Count', axis=1, inplace=True)
clean_weather_df = clean_weather_df.fillna(0)

#export cleaned csv files
clean_weather_df.to_csv("clean_hawaii_measurements.csv", index = False)
clean_stations_df.to_csv("clean_hawaii_stations.csv", index = False)

In [15]:
clean_weather_df

           station        date  prcp  tobs
0      USC00519397  2010-01-01  0.08    65
1      USC00519397  2010-01-02  0.00    63
2      USC00519397  2010-01-03  0.00    74
3      USC00519397  2010-01-04  0.00    76
4      USC00519397  2010-01-06  0.00    73
5      USC00519397  2010-01-07  0.06    70
6      USC00519397  2010-01-08  0.00    64
7      USC00519397  2010-01-09  0.00    68
8      USC00519397  2010-01-10  0.00    73
9      USC00519397  2010-01-11  0.01    64
10     USC00519397  2010-01-12  0.00    61
11     USC00519397  2010-01-14  0.00    66
12     USC00519397  2010-01-15  0.00    65
13     USC00519397  2010-01-16  0.00    68
14     USC00519397  2010-01-17  0.00    64
15     USC00519397  2010-01-18  0.00    72
16     USC00519397  2010-01-19  0.00    66
17     USC00519397  2010-01-20  0.00    66
18     USC00519397  2010-01-21  0.00    69
19     USC00519397  2010-01-22  0.00    67
20     USC00519397  2010-01-23  0.00    67
21     USC00519397  2010-01-24  0.01    71
22     USC00519397  2010-01-25  0.00    67
23     USC00519397  2010-01-26  0.04    76
24     USC00519397  2010-01-27  0.12    68
25     USC00519397  2010-01-28  0.00    72
26     USC00519397  2010-01-30  0.00    70
27     USC00519397  2010-01-31  0.03    67
28     USC00519397  2010-02-01  0.01    66
29     USC00519397  2010-02-03  0.00    67
...            ...         ...   ...   ...
19520  USC00516128  2017-07-24  0.84    77
19521  USC00516128  2017-07-25  0.30    79
19522  USC00516128  2017-07-26  0.30    73
19523  USC00516128  2017-07-27  0.00    75
19524  USC00516128  2017-07-28  0.40    73
19525  USC00516128  2017-07-29  0.30    77
19526  USC00516128  2017-07-30  0.30    79
19527  USC00516128  2017-07-31  0.00    74
19528  USC00516128  2017-08-01  0.00    72
19529  USC00516128  2017-08-02  0.25    80
19530  USC00516128  2017-08-03  0.06    76
19531  USC00516128  2017-08-05  0.00    77
19532  USC00516128  2017-08-06  0.00    79
19533  USC00516128  2017-08-07  0.05    78
19534  USC00516128  2017-08-08  0.34    74
19535  USC00516128  2017-08-09  0.15    71
19536  USC00516128  2017-08-10  0.07    75
19537  USC00516128  2017-08-11  0.00    72
19538  USC00516128  2017-08-12  0.14    74
19539  USC00516128  2017-08-13  0.00    80
19540  USC00516128  2017-08-14  0.22    79
19541  USC00516128  2017-08-15  0.42    70
19542  USC00516128  2017-08-16  0.42    71
19543  USC00516128  2017-08-17  0.13    72
19544  USC00516128  2017-08-18  0.00    76
19545  USC00516128  2017-08-19  0.09    71
19546  USC00516128  2017-08-20  0.00    78
19547  USC00516128  2017-08-21  0.56    76
19548  USC00516128  2017-08-22  0.50    76
19549  USC00516128  2017-08-23  0.45    76

[19550 rows x 4 columns]

In [17]:
clean_stations_df

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4